
# Node.js
node_modules/
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Generated data files
/bdlaws.jsonl
/bdlaws.parquet

# Local environment
/venv/

# Vector database
/chroma_db/
